*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,#10102b,black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image:linear-gradient(to right,#0b0b23e2 30%,rgba(0, 0, 0, 0.782)),
    url(download.webp);
    width:77% ;
    height: 650px;
    background-position: center;
}
.container:hover{
    background-image:linear-gradient(to right,#10102ace 30%,transparent),
    url(download.webp);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
        border-bottom: 2px solid white;
}
.content{
    color: white;
    width: 50%;
    margin-top: 60px;
    padding: 40px;
}
.content h2{
    font-size: 90px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 2px;
    line-height: 20px;
    width: 340px;
    padding: 20px 0;   
}
.content button{
    font-size: 30px;
    color: black;
    padding: 5px 9px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: white ;
    color: white;
}